html {
    height: 100%;
}

body {
    /* background: url('images/jurassic-coast-1406284_1920.jpg') no-repeat; */
    /* background-color: #DCDCDC; */
    /* background-size: cover; */
    height: 100%;
    width: 100%;
}

.form-top {
    margin-top: 30px;
}

.panel {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    border-radius: 10px;
    border: 0;
    margin-bottom: 0 !important;
}

@-moz-document url-prefix() {
    .form-control {
        height: auto;
    }
}

.div-borda {
    border: solid 1px;
    /* margin-bottom: 20px; */
}

td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
    /* your custom style here */
}


/* for block of code */

td.hljs-ln-code {
    padding-left: 10px;
}

.button-piscando {
    background-color: #35b084;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #35b084; -webkit-box-shadow: 0 0 3px #35b084; }
    50% { background-color: #8BC34A; -webkit-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #35b084; -webkit-box-shadow: 0 0 3px #35b084; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #35b084; -moz-box-shadow: 0 0 3px #35b084; }
    50% { background-color: #8BC34A; -moz-box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #35b084; -moz-box-shadow: 0 0 3px #35b084; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
    50% { background-color: #8BC34A; box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
  }
  
  @keyframes glowing {
    0% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
    50% { background-color: #8BC34A; box-shadow: 0 0 3px #8BC34A; }
    100% { background-color: #35b084; box-shadow: 0 0 3px #35b084; }
  }
  
  .button-piscando {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  a.button-piscando {
    color: whitesmoke!important;
    font-size: 17px;
}